<h1>Edit Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <p>Do not falsify information in wikis</p>
    <ul>
      <li>We can't really stop you.</li>
      <li>But Xmas is coming.</li>
      <li>Santa sees ALL.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: { wiki: @wiki } %>
  </div>
</div>

<div>
  <p>This site supports styling your text with italics, headers, and more.</p>
  <p>Click the link for info on how to use
    <%= link_to 'Markdown', 'https://guides.github.com/features/mastering-markdown/',
    target: '_blank', rel: 'noopener' %>
    to style your text.</p>
</div>
