<h1>Wikis</h1>

<div class="row">
  <div class="col-md-8">
    <% @wikis.each do |wiki| %>
      <div class="media">
        <div class="media-body">
          <h3 class="media-heading">
            <%= link_to markdown(wiki.title), wiki %>
            <% if wiki.private? %>
              <small>
              | Private Wiki
              </small>
            <% end %>
            <% if wiki_owner?(wiki) %>
              <small>
                | You created this Wiki
              </small>
            <% end %>
            <% if wiki.collab_users.include?(current_user) %>
              <small>
                | You are authorized to colaborate on this wiki
              </small>
            <% end %>
          </h3>
          <h4>
            <%= markdown(wiki.body.slice(0..350) + ' . . .') %>
          </h4>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-4 text-center">
    <% unless current_user.nil? || current_user.standard? %>
    <%= link_to "Create New Wiki", new_wiki_path, class: 'btn btn-success btn-lg' %>
    <% else %>
    <small>Go Premium to make your own new Wikis!</small>
    <% end %>
  </div>
</div>
