<h1>Wikis</h1>

<div class="row">
  <div class="col-md-8">
    <% @wikis.each do |wiki| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to wiki.title, wiki %>
            <% if wiki.private? %>
              <small>
              | Private Wiki
              </small>
            <% end %>
            <% if wiki.user_id == current_user.id %>
              <small>
                | Owned Post
              </small>
            <% end %>
          </h4>
          <h6>
            <%= wiki.body.slice(0..350) %>
            . . .
          </h6>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
  </div>
</div>
