<div>
  <h1>
    <%= markdown(@wiki.title) %>
    <br>
    <small>
      Last updated
      <%= time_ago_in_words(@wiki.updated_at) %>
      ago
      <% if @wiki.private? %>
        | Private Wiki
      <% end %>
      <% if @wiki.user_id == current_user.id %>
      <!-- fix this for not signed in too? -->
        | Owned post
      <% end %>
    </small>
  </h1>
</div>

<div class="row">
  <div class="col-md-8">
    <p><%= markdown(@wiki.body) %></p>
  </div>
  <div class="col-md-4">
    <%= link_to "Edit Wiki", edit_wiki_path(@wiki), class: 'btn btn-success' %>
  </div>
</div>
