<div>
  <h1>
    <%= markdown(@wiki.title) %>
    </h1>
    <small>
      Last updated
      <%= time_ago_in_words(@wiki.updated_at) %>
      ago
      <% if @wiki.private? %>
        | Private Wiki
      <% end %>
      <% if wiki_owner?(@wiki) %>
        | You created this Wiki
      <% end %>
      <% if @wiki.collab_users.include?(current_user) %>
        | You are authorized to collaborate on this Wiki
      <% end %>
    </small>
</div>

<div class="row">
  <div class="col-md-8">
    <p><%= markdown(@wiki.body) %></p>
  </div>
  <% unless current_user.nil? %>
  <div class="col-md-4 text-center">
    <%= link_to "Edit Wiki", edit_wiki_path(@wiki), class: 'btn btn-success btn-lg' %>
  </div>
  <% else %>
    <small>Log in or sign up to edit Wikis!</small>
  <% end %>
</div>
